/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button,
.is-button a {
	display: inline-block;
	min-width: 120px;
	margin: 0;
	padding: var(--xSmall) var(--Inbetween);
	border: 2px solid var(--Orange);
	color: var(--Orange);
	font-weight: 700;
	font-family: 'Roboto Condensed';
	text-decoration: none;
	text-transform: uppercase;
	line-height: 2em;
	letter-spacing: 0.5px;
	cursor: pointer;
	background-color: transparent;
	transition: all 0.35s linear;

	&:hover,
	&:focus {
		outline: none;
		color: var(--White);
		background-color: var(--Orange);
	}

	&.is-orange {
		background-color: var(--Orange);
		color: var(--White);
	}

	&+button,
	&+.button {
		margin: 12px 0 0 0;

		@media(--phone) {
			margin: 0 0 0 12px;
		}
	}
}