/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul,
ol {
  margin: var(--Inbetween) auto;
  padding: 0;
  list-style: none;

  & li {
    margin: var(--Small) 0;
  }
}

/*-----------------------------------*\
	BULLETS
\*-----------------------------------*/
ul li {
  position: relative;
  padding: 0;
  padding-left: var(--Inbetween);

  &::before {
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    width: 10px;
    height: 3px;
    content: '';
    background-color: var(--Black);
  }
}

ol {
  counter-reset: number-counter;

  & li {
    position: relative;
    padding: 0;
    padding-left: var(--Inbetween);
    counter-increment: number-counter;

    &::before {
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      font-weight: 700;
      font-size: 18px;
      content: counter(number-counter)'.';
    }
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
&.has-2-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-3-columns {
  column-count: 1;

  @media(--phone) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 3;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-4-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }

  @media(--tablet) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 4;
  }
}
