/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/
@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: 'Roboto Condensed';

	font-display: swap;
	src: url('../fonts/roboto-condensed-v18-latin-regular.woff2') format('woff2'),
		url('../fonts/roboto-condensed-v18-latin-regular.woff') format('woff');
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: 'Roboto Condensed';

	font-display: swap;
	src: url('../fonts/roboto-condensed-v18-latin-700.woff2') format('woff2'),
		url('../fonts/roboto-condensed-v18-latin-700.woff') format('woff');
}

@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: 'Roboto';

	font-display: swap;
	src: url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
		url('../fonts/roboto-v20-latin-300.woff') format('woff');
}

@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: 'Roboto';

	font-display: swap;
	src: url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
		url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: 'Roboto';

	font-display: swap;
	src: url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
		url('../fonts/roboto-v20-latin-700.woff') format('woff');
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: 0.75em;
	font-weight: 700;
	line-height: 1.15;
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
}

h1 {
	font-size: 40px;

	@media(--phone) {
		font-size: 56px;
	}

	@media(--tablet) {
		font-size: 60px;
	}
}

h2 {
	font-size: 26px;

	@media(--phone) {
		font-size: 40px;
	}
}

h3 {
	font-size: 20px;

	@media(--phone) {
		font-size: 30px;
	}
}

h4 {
	font-size: 16px;

	@media(--phone) {
		font-size: 20px;
	}
}

h5 {
	font-weight: 700;
	font-size: 16px;
	font-family: 'Roboto';
	text-transform: none;

	@media(--phone) {
		font-size: 20px;
	}
}

h6 {
	font-weight: 400;
	font-size: 16px;
	font-family: 'Roboto';
	text-transform: none;

	@media(--phone) {
		font-size: 20px;
	}
}

.subheader {
	font-weight: 300;
	font-size: 22px;
	font-family: 'Roboto';
	line-height: 1.3;

	@media(--phone) {
		font-size: 26px;
	}
}

/*-----------------------------------*\
	INLINE LINKS
\*-----------------------------------*/
a {
	color: inherit;
	text-decoration: inherit;
}

p a,
ul a,
li a {
	color: var(--Orange);
	font-weight: 700;
	text-decoration: underline;

	&:hover,
	&:focus {
		outline: 1px solid var(--Black);
	}
}

*:target {
	position: relative;
	top: -200px;

	&:before {
		content: '';
		display: block;
		height: 200px;
		position: relative;
		z-index: -1;
		background: transparent;
		width: 100%;
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	width: 80%;
	height: 3px;
	margin: var(--xLarge) 0;
	border: 0;
	background: var(--Gradient);

	@media(--phone) {
		margin: var(--xLarge) auto;
	}
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	width: 90%;
	max-width: 800px;
	margin: var(--Large) auto;
	color: var(--Orange);
	font-style: italic;
	font-size: 20px;

	@media(--phone) {
		font-size: 26px;
	}

	& p {
		color: inherit;
		font-size: inherit;
		line-height: 1.35;

		& .cite,
		& cite {
			color: var(--Grey);
			font-weight: 400;
			font-size: 14px;
		}
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}