/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-header {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
	margin: 71px 0 0 0;
	padding: 80px 0 var(--xLarge) 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media(--laptop) {
		margin: 100px 0 0 0;
	}

	&::after {
		display: block;
		opacity: 0.7;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		background-color: var(--Black);
	}

	&.has-no-image {
		background-color: var(--Gradient);

		&::after {
			display: none;
		}
	}

	&>div {
		z-index: 2;
		position: relative;
		width: 90%;
		max-width: 1024px;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h1 {
			display: inline-block;
			margin-bottom: 0;
			color: var(--White);
			position: relative;

			& span {
				display: block;
				margin-bottom: var(--Small);
				font-weight: 400;
				font-size: 24px;
				font-family: 'Roboto';
				text-transform: none;
			}

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				margin: var(--Inbetween) 0 0 0;
				background: var(--Gradient);
				border: 0;
			}
		}

		& hr {
			margin: var(--Inbetween) 0;
		}

		& p {
			margin-top: var(--Inbetween);
			color: var(--White);
			font-weight: 300;
			font-size: 20px;
			line-height: 1.4;
			font-family: 'Roboto';

			@media(--phone) {
				font-size: 26px;
			}
		}

		& .button,
		& button {
			color: var(--White);
		}
	}

	&.has-no-image {
		min-height: 0;
		padding: 80px 0 0 0;

		&::after {
			display: none;
		}

		& h1 {
			color: var(--Black);
		}

		& p {
			color: var(--Black);
		}
	}
}