/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	position: relative;
	padding: 40px var(--Medium) 40px var(--Medium);
	background-color: var(--GreyLight);

	@media(--phone) {
		padding: 40px var(--Large) 40px var(--Large);
	}

	&::before {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 6px;
		content: '';
		background: var(--Gradient);
	}

	& .business-details {
		order: 2;

		@media(--tablet) {
			order: 1;
		}

		& .widget {
			max-width: 300px;
		}
	}

	& .grid-wrapper>.menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		order: 1;

		@media(--tablet) {
			justify-content: flex-end;
			order: 2;
		}

		& .widget {
			max-width: 200px;
			margin: 0;

			@media(--tablet) {
				margin: 0 0 0 80px;
			}
		}

		& ul {
			margin: 0;

			& li {
				padding: 0;

				&::before {
					display: none;
				}

				& a {
					color: var(--Black);
					font-weight: 400;
					text-decoration: none;
				}
			}
		}
	}

	& .copyright {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		order: 3;
		font-size: 14px;

		@media(--phone) {
			justify-content: space-between;
		}

		&>div:first-child {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;

			& ul {
				margin: 0;

				& li {
					padding: 0 8px 0 0;

					&::before {
						display: none;
					}

					& a {
						color: var(--Black);
						font-weight: 400;
					}
				}
			}

			& p {
				width: 100%;
				margin: 0;
				text-align: center;

				@media(--phone) {
					width: auto;
					margin: 0 8px 0 0;
					text-align: inherit;
				}

				&+div {
					margin: 0 auto;

					@media(--phone) {
						margin: 0;
					}
				}
			}
		}

		& img {
			display: block;
			width: auto;
			height: 38px;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
footer.post-footer .grid-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 80px;
	max-width: 960px;
	margin: 0 auto;

	@media(--tablet) {
		grid-template-columns: 1fr 1fr;
	}

	& .copyright {
		@media(--tablet) {
			grid-column: 1 / span 2;
		}
	}
}