/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
.card-grid {
	& .card {
		display: flex;
		position: relative;
		flex-flow: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		transition: all 0.35s linear;

		&>* {
			flex: 0 0 auto;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& figure {
			position: relative;
			width: 100%;
			height: 200px;
			margin: 0;

			&::after {
				display: block;
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: '';
				background: var(--Gradient);
				transition: all 0.35s linear;
			}

			& img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		& h2 {
			margin: var(--Inbetween) 0 0 0;
			font-size: 24px;
		}

		& p {
			flex: 1 1 auto;
			margin: var(--Large) 0 0 0;
		}

		& .button {
			margin: var(--Inbetween) 0 0 0;
		}

		&:hover,
		&:focus {
			outline: none;

			& figure::after {
				opacity: 0.7;
			}

			& .button {
				outline: none;
				color: var(--White);
				background-color: var(--Orange);
			}
		}
	}

	&.thumb-cards {
		padding-top: 32px;

		& .card {
			margin: 0 auto;
			padding: var(--xLarge) var(--Inbetween) var(--Large) var(--Inbetween);
			background-color: var(--Orange);
			box-shadow: 0 10px 15px 0 rgba(0, 51, 84, 0.4);

			& figure {
				position: absolute;
				top: -48px;
				left: var(--Large);
				width: 96px;
				height: 96px;
				margin: 0;
				padding: var(--Inbetween);
				border-radius: 100px;
				overflow: hidden;
				background-color: var(--White);
				box-shadow: 0 5px 15px 0 rgba(0, 51, 84, 0.7);

				&::after {
					display: none;
				}

				& img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			& h2 {
				margin: var(--Medium) 0 0 0;
				color: var(--White);
			}

			& p {
				margin: var(--Inbetween) 0 0 0;
				color: var(--White);
			}

			& .button {
				border-color: var(--White);
				color: var(--White);
			}

			&:hover,
			&:focus {
				box-shadow: none;

				& .button {
					outline: none;
					color: var(--Orange);
					background-color: var(--White);
				}
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 80px;
	grid-row-gap: 64px;
	margin: var(--xLarge) auto;

	&.thumb-cards {
		grid-row-gap: 112px;
	}

	@media(--phone) {

		&.columns-2,
		&.columns-4,
		&.columns-3 {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media(--tablet) {
		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}