/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: var(--xLarge) auto;
  padding: var(--xLarge) 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    display: block;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: var(--Black);
  }

  &.has-no-image {
    background-color: var(--Gradient);

    &::after {
      display: none;
    }
  }

  & > div {
    z-index: 2;
    position: relative;
    width: 80%;
    max-width: 1024px;

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      color: var(--White);
    }

    & hr {
      margin: var(--Inbetween) 0;
    }

    & p {
      color: var(--White);
      font-weight: 300;
      font-size: 20px;
      font-family: 'Roboto';

      @media(--phone) {
        font-size: 26px;
      }
    }

    & .button,
    & button {
      color: var(--White);
    }
  }
}

/*-----------------------------------*\
	COVER ~ LAST SECTION
\*-----------------------------------*/
main > article section.cover:last-child {
  position: relative;
  margin-top: 120px;
  margin-bottom: -64px;
  padding: 96px 0 var(--xLarge) 0;
  text-align: center;
  background-image: url(../images/cover_Background.jpg) !important;

  &::after {
    display: none;
  }

  & > div {
    position: initial;
    max-width: 500px;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 96px;
      content: '';
      background: linear-gradient(to bottom right, #fff 0%, #fff 50%, rgba(255, 255, 255, 0.0) 50%, rgba(255, 255, 255, 0.0) 100%);
    }

    &:after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 96px;
      content: '';
      background: linear-gradient(to bottom left, #fff 0%, #fff 50%, rgba(255, 255, 255, 0.0) 50%, rgba(255, 255, 255, 0.0) 100%);
    }
  }

  & a.button {
    border-color: var(--White);

    &:hover,
    &:focus {
      color: var(--Orange);
      background: var(--White);
    }
  }
}
