/*-----------------------------------*\
	IMAGE CAPTIONS
\*-----------------------------------*/
.editor-3-column,
.editor-2-column,
.editor {
	& figure {
		position: relative;
		width: 100% !important;
		margin: 0;
		padding: 0;

		& img {
			display: block;
			width: 100%;
			height: auto;
		}

		& figcaption {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0;
			padding: var(--Small) var(--Medium);
			color: var(--White);
			background-color: rgba(0, 51, 84, 0.85);
		}
	}

	&::after {
		display: block;
		content: '';
		clear: both;
	}
}

/*-----------------------------------*\
	VIDEOS
\*-----------------------------------*/
.video {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	margin: 0;
	padding-top: 50%;
	overflow: hidden;
	cursor: pointer;
	z-index: 9999;

	&:focus,
	&:hover {
		& button {
			background: var(--Orange);
			box-shadow: none;

			& svg {
				fill: var(--White);
			}
		}
	}

	&::before {
		display: block;
		opacity: 0.7;
		z-index: 2;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		background: var(--Gradient);
		transition: all 0.35s linear;
	}

	& img {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: auto;
		object-fit: cover;
	}

	& .play-button {
		display: flex;
		z-index: 3;
		position: absolute;
		top: 50%;
		left: 50%;
		justify-content: center;
		align-items: center;
		width: 72px;
		min-width: 0;
		height: 72px;
		padding: 0;
		border: 0;
		border-radius: 50%;
		background-color: var(--White);
		box-shadow: 0 5px 15px 0 rgba(0, 51, 84, 0.7);
		transform: translateX(-50%) translateY(-50%);

		& svg {
			width: 40px;
			height: 40px;
			margin-left: var(--Small);
			fill: var(--Orange);
		}

		&:focus,
		&:hover {
			background: var(--Orange);
			box-shadow: none;

			& svg {
				fill: var(--White);
			}
		}
	}
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999999999;
}

.modal__container {
	background-color: #000;
	width: 85vw;
	max-width: 960px;
	position: relative;
	overflow: visible;
	box-sizing: border-box;

	& .videoWrapper {
		position: relative;
		padding-bottom: 75%;
		height: 0;

		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	& .modal__close {
		background: transparent;
		border: 0;
		min-width: 0;
		padding: 0;
		min-width: 0;
		position: absolute;
		z-index: 99999;
		top: -32px;
		right: 0;

		&::before {
			content: "\2715";
			font-size: 24px;
		}
	}

}

.notification-modal .modal__container {
	background-color: #fff;
	padding: 30px;
	max-width: 500px;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
	text-align: left;

	& .modal__close {
		top: 6px;
		right: 8px;
		color: var(--Black);

		&::before {
			content: '\2716';
			font-size: 18px;
			color: var(--GreyDark);
		}
	}

	&>*:nth-child(2),
	&>*:nth-child(3) {
		margin-top: 0;
	}


	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		color: var(--Black);
	}

	& p {
		color: var(--Black);
		font-size: 16px;
	}
}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}

/*-----------------------------------*\
	2 COLUMNS
\*-----------------------------------*/
.editor-2-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 48px;

	&>div {
		width: 100%;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*-----------------------------------*\
	3 COLUMNS
\*-----------------------------------*/
.editor-3-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 48px;

	&>div {
		width: 100%;

		&>*:first-child {
			margin-top: 0;
		}
	}

	@media(--tablet) {
		grid-template-columns: repeat(3, 1fr);
	}
}