/*-----------------------------------*\
	EDITOR + SIDEBAR
\*-----------------------------------*/
section.editor-sidebar {
  & .header,
  & .contents {
    & *:first-child {
      margin-top: 0;
    }

    & *:last-child {
      margin-bottom: 0;
    }
  }

  & .header ul {
    list-style: none;

    @media(--tablet) {
      margin-top: var(--xLarge);
    }

    & li {
      padding: 0;

      &:before {
        display: none;
      }

      & a {
        text-decoration: none;
      }
    }
  }
}

/*-----------------------------------*\
	APPLICATIONS + SIDEBAR
\*-----------------------------------*/
section.applications-sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  & .header {
    margin-bottom: var(--Large);

    @media(--tablet) {
      width: calc(33% - 20px);
      margin-bottom: 0;
    }
  }

  & .application-section {
		margin-top: 0;

    @media(--tablet) {
      width: calc(66% - 20px);
    }
  }
}
section.applications-sidebar {
  & .header,
  & .application-section {
    & *:first-child {
      margin-top: 0;
    }

    & *:last-child {
      margin-bottom: 0;
    }
  }
}

/*-----------------------------------*\
	FIGURE
\*-----------------------------------*/
.editor-sidebar {
  & figure {
    position: relative;
    width: 100% !important;
    margin: 0;
    padding: 0;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }

    & figcaption {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: var(--Small) var(--Medium);
      color: var(--White);
      background-color: rgba(0, 51, 84, 0.85);
    }
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.editor-sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  & .header {
    margin-bottom: var(--Large);

    @media(--tablet) {
      width: calc(33% - 20px);
      margin-bottom: 0;
    }
  }

  & .contents {
    @media(--tablet) {
      width: calc(66% - 20px);
    }
  }
}

/*-----------------------------------*\
	TEAM
\*-----------------------------------*/
.team-profiles {
  margin: var(--xLarge) auto;
}

.team {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 32px;
  margin: 0 auto;

  @media(--phone) {
    grid-template-columns: repeat(3, 1fr);
  }

  & figure {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 100%;

    & img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  & h4 {
    margin: var(--xLarge) 0 var(--Large);
    margin: var(--Small) 0;
  }

  & p {
    margin: var(--Small) 0;
  }
}
