/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
.blur-up {
	transition: all 0.35s linear;
	filter: blur(8px);
}

.blur-up.lazyloaded {
	filter: blur(0);

	-webkit-filter: blur(0);
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: var(--Large) auto;

	& .featured {
		width: 100%;

		@media(--tablet) {
			width: calc(66% - 20px);
		}
	}

	& .images {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 14px;
		width: 100%;
		margin: var(--Large) 0 0 0;

		@media(--phone) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 24px;
		}

		@media(--tablet) {
			grid-template-columns: 1fr 1fr;
			width: calc(33% - 20px);
			margin: 0;
		}
	}
}

.gallery.large-gallery {
	& .featured {
		@media(--tablet) {
			width: calc(55% - 20px);
		}
	}

	& .images {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 14px;
		width: 100%;
		margin: var(--Large) 0 0 0;

		@media(--phone) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 24px;
		}

		@media(--tablet) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			width: calc(45% - 20px);
			margin: 0;
		}
	}
}

/*-----------------------------------*\
	IMAGE STYLES
\*-----------------------------------*/
.gallery {
	& .featured {
		& figure {
			position: relative;
			width: 100%;
			height: auto;
			margin: 0;
			box-shadow: 0 10px 15px 0 rgba(0, 51, 84, 0.4);

			& img {
				display: block;
				width: 100%;
				height: auto;
				object-fit: cover;
			}

			& p {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				margin: 0;
				padding: var(--Small) var(--Medium);
				color: var(--White);
				background-color: rgba(0, 51, 84, 0.85);
			}
		}
	}

	&.large-gallery .images button {
		@media(--phone) {
			height: 100px;
		}
	}

	& .images {
		& button {
			position: relative;
			width: 100%;
			min-width: 0;
			height: 60px;
			margin: 0;
			padding: 0;
			border: none;
			background: transparent;

			@media(--phone) {
				height: 120px;
			}

			&::after {
				display: block;
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: "";
				background: var(--Gradient);
				transition: all 0.35s linear;
			}

			& img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:hover,
			&:focus {
				border: none;
				background: transparent;

				&::after {
					opacity: 0.7;
				}
			}
		}
	}
}