/*-----------------------------------*\
	NEWSLETTER
\*-----------------------------------*/
section.newsletter {
  padding: var(--xLarge) 0;
  background-image: url(../images/Newsletter_Background.jpg);

  & > div {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;

    & .headline {
      max-width: 600px;
      margin: 0 auto;
      color: var(--White);

      & h2 {
        margin: var(--Medium) 0 0 0;
      }

      & p {
        margin: var(--Small) 0 0 0;
      }
    }

    & form {
      color: var(--White);

      & button {
        display: flex;
        margin: var(--Inbetween) 0 0 auto;
        color: var(--White);
      }
    }
  }
}

/*-----------------------------------*\
	NEWSLETTER LAST SECTION
\*-----------------------------------*/
main > article section.newsletter:last-child {
  margin-bottom: -64px;
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.newsletter {
  & > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 48px;

    @media(--tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
