/*-----------------------------------*\
	VIDEO SLIDER
\*-----------------------------------*/
section.video-slider {
  position: relative;
  margin: 128px auto;
  padding: var(--Large) 0 var(--xLarge) 0;
  background-color: var(--Grey);

  &::before {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 64px;
    content: '';
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 50%, var(--Grey) 50%, var(--Grey) 100%);
  }

  &::after {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 64px;
    content: '';
    background: linear-gradient(to bottom right, var(--Grey) 0%, var(--Grey) 50%, rgba(255, 255, 255, 0.0) 50%, rgba(255, 255, 255, 0.0) 100%);
  }

  & h2 {
    max-width: 90%;
    margin: 0 auto var(--Large) auto;
    text-align: center;
  }

  & .videos {
    position: relative;
    width: 98%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 var(--xLarge);

    & .slick-list {
      margin: 0 -24px;
    }

    & .slick-slide {
      margin: 0 24px;
    }

    & button.slick-arrow {
      position: absolute;
      top: 50%;
      width: 48px;
      min-width: 0;
      height: 48px;
      border: 0;
      overflow: hidden;
      text-indent: -99999px;
      background: transparent;
      background-position: center;
      background-size: contain;
      transform: translateY(-50%);
      transform-origin: center center;

      &.slick-prev {
        left: 0;
        background-image: url(../images/slider-arrow.svg);
      }

      &.slick-next {
        right: 0;
        background-image: url(../images/slider-arrow.svg);
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}
