/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Inbetween: 24px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Inbetween: 1.5rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #ffffff;
	--GreyLight: #f8fcff;
	--Grey: #E1EAEF;
	--GreyDark: #8099AA;
	--Black: #003354;
	--Orange: #e14f15;
	--Yellow: #f1dd51;
	--Gradient: linear-gradient(225deg, #F1DD51 0%, #E14F15 100%);
}