/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;

	& span.current {
		margin: 0 var(--Small);
		color: var(--GreyDark);
		font-weight: 700;
	}

	& a {
		margin: 0 var(--Small);
		color: var(--Orange);
		font-weight: 700;

		&:hover,
		&:focus {
			outline: 1px solid var(--Black);
		}

		&.next,
		&.prev {
			display: inline-block;
			min-width: 120px;
			margin: 0 0 0 var(--Large);
			padding: var(--xSmall) var(--Inbetween);
			border: 2px solid var(--Orange);
			color: var(--Orange);
			font-weight: 700;
			font-family: 'Roboto Condensed';
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			cursor: pointer;
			background-color: transparent;
			transition: all 0.35s linear;

			&:hover,
			&:focus {
				outline: none;
				color: var(--White);
				background-color: var(--Orange);
			}
		}

		&.prev {
			margin: 0 var(--Large) 0 0;
		}
	}
}

/*-----------------------------------*\
	SERVICES
\*-----------------------------------*/
body.post-type-archive-service {
	& .card-grid {
		grid-row-gap: 96px;
	}

	& div.card {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;

		@media(--tablet) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 40px;
		}

		& figure {
			min-height: 30vh;

			@media(--tablet) {
				order: 2;
				height: 100%;
			}
		}

		&>div {
			display: flex;
			flex-flow: column;
			align-items: flex-start;
			height: 100%;
		}

		& h2 {
			margin-top: 0;
			font-size: 36px;

			@media(--phone) {
				font-size: 40px;
			}

			& span {
				display: block;
				margin-bottom: var(--Small);
				color: var(--Orange);
				font-weight: 400;
				font-size: 18px;
				font-family: 'Roboto';
				text-transform: none;
			}
		}
	}
}

/*-----------------------------------*\
	LOCATIONS
\*-----------------------------------*/
body.post-type-archive-location {
	& header figure {
		max-width: 800px;
		margin: 0 auto;
	}

	& .card {
		& h2 {
			margin-top: 0;
			font-size: 26px;

			@media(--phone) {
				font-size: 32px;
			}
		}
	}
}