/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-confirmation {
  & header {
    position: relative;
    margin: 100px auto 0 auto;
    padding: 20vh 0;
    overflow: hidden;
    text-align: center;

    &::after {
      display: block;
      opacity: 0.35;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1300px;
      height: 100vh;
      content: '';
      background-image: url(../images/map-all.svg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      transform: translateX(-50%);
    }

    & > div {
      width: 90%;
      max-width: 960px;
      margin: 0 auto;
    }

    & h1 {
      margin: 0;
    }

    & hr {
      margin: var(--Inbetween) auto;
    }

    & p {
      margin: 0;
      color: var(--Black);
      font-weight: 300;
      font-size: 20px;
      line-height: 1.4;
      font-family: 'Roboto';

      @media(--phone) {
        font-size: 26px;
      }
    }

    & a.button {
      margin-top: var(--xLarge);
    }
  }
}
