/*----------------------------------------------------------------*\
	FORM TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-form {
	& header.post-header {
		padding-bottom: 40vh;
		text-align: center;

		&>div {
			max-width: 750px;
		}

		& hr {
			margin: var(--Inbetween) auto;
		}
	}

	& article section.form-container {
		position: relative;
		max-width: 600px;
		margin: -40vh auto 120px auto;
		padding: var(--Large);
		background-color: var(--White);
		box-shadow: 0 10px 15px 0 rgba(0, 51, 84, 0.4);

		&::after {
			display: none;
			opacity: 0.5;
			z-index: -1;
			position: absolute;
			bottom: -80vh;
			left: 50%;
			width: 1300px;
			max-width: 100vw;
			height: 100vh;
			content: '';
			background-image: url(../images/map-USA.svg);
			background-repeat: no-repeat;
			background-position: top;
			background-size: cover;
			transform: translateX(-50%);

			@media(--phone) {
				display: block;
			}

			@media(--tablet) {
				background-size: contain;
			}
		}
	}
}