/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-home {
	& header.post-header {
		padding: 96px 0;
	}

	& .video-highlight {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 48px;

		@media(--tablet) {
			grid-template-columns: 1fr 1fr;
		}

		& .video {
			box-shadow: 0 10px 15px 0 rgba(0, 51, 84, 0.5);
		}

		& h2 {
			margin: var(--Medium) 0;
			font-size: 26px;

			@media(--phone) {
				font-size: 30px;
			}
		}
	}

	& .contents.card-grid {
		margin: 0;
	}

	& .newsletter {
		margin-bottom: 0;
	}

	& .split-updates {
		margin: 0 auto;
		padding: var(--xLarge) 0;

		@media(--tablet) {
			background: linear-gradient(96deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0) 50%, var(--Grey) 50.1%, var(--Grey) 100%);
		}

		&>div {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: 80px;
			justify-content: space-between;

			@media(--tablet) {
				grid-template-columns: 400px 400px;
			}

			&>div {
				display: flex;
				flex-direction: column;
			}
		}

		&:last-child {
			margin-bottom: -64px;
		}

		& h2 {
			flex-grow: 0;
			margin: 0 0 var(--xLarge) 0;

			& span {
				display: block;
				margin-bottom: var(--xSmall);
				font-weight: 400;
				font-size: 16px;
				text-transform: none;
			}
		}

		& .card-grid {
			flex-grow: 1;
			margin: 0;

			& .card {
				margin-top: 0;
			}
		}

		& .blog .card {
			background-color: var(--GreyLight);

			& h2,
			& p {
				color: var(--Black);
			}

			& .button {
				border-color: var(--Orange);
				color: var(--Orange);
			}
		}

		& .blog a {

			&:hover,
			&:focus {
				& .button {
					border-color: var(--Orange);
					color: var(--White);
					background-color: var(--Orange);
				}
			}
		}
	}
}