/*----------------------------------------------------------------*\
	SEARCH RESULTS
\*----------------------------------------------------------------*/
body.search-results,
body.search-no-results {
	& header.post-header {
		& h1 {
			margin: 0;
			color: var(--Black);
			text-align: center;
		}

		& hr {
			margin: var(--Inbetween) auto;
		}

		& p {
			margin: 0;
			color: var(--Black);
			font-weight: 300;
			font-size: 20px;
			line-height: 1.4;
			font-family: 'Roboto';
			text-align: center;

			@media(--phone) {
				font-size: 26px;
			}

			& button {
				padding: 4px;
				border: 0;
				color: inherit;
				font-weight: 300;
				font-family: inherit;
				text-decoration: underline;
				text-transform: none;

				&:hover,
				&:focus {
					color: var(--White);
					text-decoration: none;
				}
			}
		}

		&::after {
			display: block;
			opacity: 0.35;
			z-index: -1;
			position: absolute;
			top: 0;
			left: 50%;
			width: 1300px;
			height: 100vh;
			content: '';
			background-color: transparent;
			background-image: url('../images/map-all.svg');
			background-repeat: no-repeat;
			background-position: top;
			background-size: contain;
			transform: translateX(-50%);
		}
	}

	& section.card-grid {
		& .card {
			padding: 16px;
			background-color: var(--White);
			box-shadow: 0 10px 15px 0 rgba(0, 51, 84, .4);

			&:hover,
			&:focus {
				box-shadow: none;
			}
		}
	}

	& .search-term {
		padding: 0 4px;
		background-color: var(--Yellow);
	}
}

body.search-no-results {
	& header.post-header {
		min-height: 60vh;
	}
}