/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.cookie-useage-notification {
	display: none;
	z-index: 999999;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	color: var(--White);
	background: var(--Black);

	@media(--phone) {
		text-align: center;
	}

	&.is-active {
		display: block;
	}

	&>div {
		padding: var(--Medium) 40px var(--Medium) var(--Small);

		@media(--phone) {
			padding: var(--Medium) var(--Medium) var(--Medium) 48px;
		}
	}

	& button {
		position: absolute;
		top: 50%;
		right: var(--Medium);
		min-width: 0;
		margin: 0;
		padding: 0;
		border: 0;
		background: transparent;
		transform: translateY(-50%);

		&:hover,
		&:focus {
			background-color: var(--Black);
		}

		& svg {
			display: block;
			width: 24px;
			height: 24px;
			fill: var(--White);
		}
	}

	& p {
		margin: 0;
		font-size: 14px;
		line-height: 1.2;

		& a {
			color: var(--White);
			letter-spacing: 0.5px;
		}
	}
}