/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.mobile-call-notification {
	display: block;
	z-index: 99999;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	color: var(--White);
	background: var(--Black);

	@media(--phone) {
		display: none;
	}

	&>div {
		padding: var(--Medium) var(--Small);
		display: flex;
		justify-content: center;
	}

	& p {
		margin: 0;
		font-size: 18px;
		line-height: 1.2;
	}

	& a {
		flex-shrink: 0;
		margin-left: var(--Small);
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--Orange);
		color: var(--White);
	}
}