/*-----------------------------------*\
	UTILITY NAVIGATION
\*-----------------------------------*/
.utility-navigation {
	display: flex;
	z-index: 999999;
	position: fixed;
	top: 0;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: var(--xSmall) var(--Medium);
	font-size: 13px;
	background-color: var(--Grey);

	& a:focus,
	& a:hover {
		outline: 1px solid var(--Black);
	}

	& ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;

		& li {
			margin: 0;
			padding: 0 0 0 var(--Medium);

			&::before {
				display: none;
			}

			& a {
				color: var(--Black);
				font-weight: 400;
				text-decoration: none;
			}
		}
	}
}

/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
nav.primary-navigation {
	display: flex;
	z-index: 999999;
	position: fixed;
	top: 29px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--Medium);
	background-color: var(--GreyLight);

	&>a img {
		width: auto;
		height: 52px;
		margin: 6px 0;
	}

	&::after {
		display: block;
		z-index: 2;
		position: absolute;
		right: 0;
		bottom: -5px;
		left: 0;
		height: 5px;
		content: '';
		background: var(--Gradient);
	}

	& .right-side {
		display: flex;
		position: relative;
		justify-content: flex-end;
		align-items: center;
	}

	& ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;

		& li {
			padding: 0 0 0 var(--Large);

			&::before {
				display: none;
			}

			&:not(.is-button) a {
				padding: var(--Small) 0;
				color: var(--Black);
				font-weight: 400;
				text-decoration: none;

				&:hover,
				&:focus {
					border-bottom: 3px solid var(--Orange);
					outline: none;
				}
			}
		}

		& li.current-menu-item:not(.is-button) a {
			border-bottom: 3px solid var(--Orange);
			outline: none;
		}
	}

	& button.search {
		min-width: 0;
		margin: -4px 0 0 var(--Inbetween);
		padding: 0;
		border: 0;

		& svg {
			display: block;
			width: 24px;
			height: 24px;
			fill: var(--Black);
			transition: all 0.35s linear;
		}

		&:focus,
		&:hover {
			background: transparent;

			& svg {
				fill: var(--Orange);
			}
		}
	}

	& form {
		display: flex;
		position: absolute;
		width: 100%;
		max-width: 0;
		overflow: hidden;
		background: var(--White);
		transition: all 0.25s linear;

		&.is-open {
			max-width: 100%;
		}

		& button.close {
			flex-shrink: 0;
			min-width: 0;
			margin: 0 var(--Inbetween) 0 0;
			padding: 0;
			border: 0;

			& svg {
				display: block;
				width: 32px;
				height: 32px;
				fill: var(--Black);
				transition: all 0.35s linear;
			}

			&:focus,
			&:hover {
				background: transparent;

				& svg {
					fill: var(--Orange);
				}
			}
		}

		& input {
			width: 100%;
		}

		& button[type='submit'] {
			position: absolute;
			top: 0;
			right: 12px;
			bottom: 0;
			min-width: 0;
			padding: 0;
			border: 0;
			color: var(--GreyDark);

			&:hover,
			&:focus {
				color: var(--Orange);
				background: transparent;
			}
		}
	}
}

/*-----------------------------------*\
	MOBILE PRIMARY NAVIGATION
\*-----------------------------------*/
nav.primary-navigation.is-mobile {
	top: 0;

	& button.menu {
		min-width: 0;
		padding: 4px 8px;
		border: 0;
		color: var(--Black);
		font-family: 'Roboto';
		text-transform: none;

		&:hover,
		&:focus {
			background-color: var(--Grey);
		}
	}
}

.mobile-menu {
	z-index: 9999999;
	position: fixed;
	top: 0;
	right: -300px;
	bottom: 0;
	width: 300px;
	padding: var(--Large);
	color: var(--White);
	background-color: var(--Black);
	transition: all 0.35s linear;

	@media(--phone) {
		right: -450px;
		width: 450px;
	}

	&.is-open {
		right: 0;
	}

	& button {
		display: flex;
		min-width: 0;
		margin: 0 0 0 auto;
		padding: 4px 8px;
		border: 0;
		color: var(--White);
		font-family: 'Roboto';
		text-transform: none;

		&:hover,
		&:focus {
			background-color: var(--Grey);
		}
	}

	& a {
		color: var(--White);
		font-weight: 400;
		text-decoration: none;
	}

	& ul {
		margin: var(--Large) 0 0 0;
		list-style: none;

		& li {
			margin: 0 0 var(--Medium) 0;
			padding: 0;

			&::before {
				display: none;
			}

			&.is-button a {
				font-weight: 700;
			}
		}
	}

	& .menu-utility-container ul {
		margin: var(--xLarge) 0 0 0;

		& a {
			font-size: 14px;
		}
	}
}

/*-----------------------------------*\
	NOTIFICATION
\*-----------------------------------*/
.site-notification {
	display: none;
	z-index: 999999;
	position: fixed;
	top: 100px;
	width: 100%;
	padding: var(--Small) 40px var(--Small) var(--Small);
	color: var(--White);
	background: var(--Orange);

	@media(--phone) {
		padding: var(--Small) var(--Medium) var(--Small) 48px;
		text-align: center;
	}

	&.is-mobile {
		top: 71px;
	}

	&.is-active {
		display: block;
	}

	& button {
		position: absolute;
		top: 50%;
		right: var(--Medium);
		min-width: 0;
		margin: 0;
		padding: 0;
		border: 0;
		background: transparent;
		transform: translateY(-50%);

		&:hover,
		&:focus {
			background-color: var(--Black);
		}

		& svg {
			display: block;
			width: 18px;
			height: 18px;
			fill: var(--White);
		}
	}

	& p {
		margin: 0;
		font-size: 14px;
		line-height: 1.2;

		& a {
			color: var(--White);
			letter-spacing: 0.5px;
		}
	}
}